In [117]:
import numpy as np

import pandas as pd
from IPython.display import display, HTML
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 50) #  columns count
pd.set_option('display.max_colwidth', -1)  # columns width 

# Use 3 decimal places in output display
pd.set_option("display.precision", 3)

# Don't wrap repr(DataFrame) across additional lines
pd.set_option("display.expand_frame_repr", False)

In [118]:
# file pathes to input data
#fp_ut = 'UT.csv'     
#fp_buh =  'BUH.csv'
fp_changed ="final_UT_BUH.xlsx"

In [119]:
# Describe field names
# F means Field
F_ITEM = 'Номенклатура'
F_CODE = 'КодНоменклатуры'
F_SUM = 'Сумма'
F_QUAN = 'Количество'
F_SERIESCODE = 'КодСерии'
F_STORAGE = 'Склад'

In [120]:
# ABOUT THE DATA
# both files has similar columns but the UT has additional columns 'Серия', "КодСерии"
# both files has 'quantity' and 'sum' fields

float_type_rows = [F_QUAN, F_SUM] # the specifeid field will be converted to float

In [121]:
# clean up data for the given Series
def clean_up_for_numeric(given_df, df_name, col_name):
    '''col_name - column name for cleaning '''
    given_df[col_name].replace(u'\xa0',u'', regex=True, inplace=True) # clean up the no-break spaces
    given_df[col_name].replace(u',',u'.', regex=True, inplace=True)  # repalce commas with the dots
    print("Cleaning data in ",col_name," column successfull for", df_name)
    return True

# converts the given series to a float type
def convert_to_float(given_df, df_name, col_name): # 'df_name is the name of the datframe
    given_df[col_name] = given_df[col_name].astype(float)
    print("Converting ", col_name, " column in float successful for ", df_name)
    return True

In [122]:
# All code needed to check the difference of concatenating ut and buh listed below
###############################################################################################
# reread the new file
fp_changed ="final_UT_BUH.xlsx"
#df_changed = pd.read_csv(fp_changed, sep=';', encoding='cp1251', dtype={F_SERIESCODE: 'str',F_CODE:'str',F_QUAN:float})
df_changed = pd.read_excel(fp_changed, dtype={F_SERIESCODE: 'str',F_CODE:'str',F_QUAN:float,F_SUM:float}, decimal=" ")

In [123]:
# Clean up the data in buh_ut
#    Convert Quantity and Sum fields to numeric
#    the quantity column may have a \xa0 symbol (no-break space)
# To figure out the value which can not be converted use: df.apply(pd.to_numeric)

# Remove NB spaces and replace commas with dots for columns Quantity and Sum
for float_col_name in float_type_rows:
        clean_up_for_numeric(df_changed, 'df_changed', float_col_name)
        convert_to_float(df_changed, 'df_changed', float_col_name)

Cleaning data in  Количество  column successfull for df_changed
Converting  Количество  column in float successful for  df_changed
Cleaning data in  Сумма  column successfull for df_changed
Converting  Сумма  column in float successful for  df_changed

In [124]:
df_changed.head()

  КодНоменклатуры КодСерии  Количество                                    Номенклатура Серия     Склад     Сумма  ЭтоБухгалтерия
0  00000000678     nan      42.0        Тяга регулятора ПД-10                           NaN   Склад №1  24442.44  False
1  00000000804     nan      3.0         Манометр (0-10атм) мех-й. (14.3830)             NaN   Склад №1  7099.25   False
2  00000000814     nan      50.0        Реле-регулятор напряжения мех-й 12в (774.3702)  NaN   Склад №1  19457.19  False
3  00000001227     nan      20.0        Манометр (0-6 атм) мех-й.(11.3816)              NaN   Склад №1  26924.54  True
4  00000001285     nan      17.0        Манометр (0-16атм) мех-й.                       NaN   Склад №1  40229.06  False

In [125]:
df_changed[F_SUM].sum()

38890584.910000004

In [126]:
df_changed[F_QUAN].sum()

11390.0

In [127]:
df_storage_grouped = df_changed.groupby([F_STORAGE]).sum().reset_index().sort_values(ascending=True, by='Склад')

In [128]:
df_storage_grouped['Сумма'] = df_storage_grouped['Сумма'].map('{:,.2f}'.format)

In [129]:
df_storage_grouped

                 Склад  Количество          Сумма  ЭтоБухгалтерия
0  Склад №1             7498.0      26,917,542.92  74.0
1  Склад №2 Жабский В.  3892.0      11,973,041.99  21.0

In [130]:
df_changed[F_SUM].sum()

38890584.910000004

In [131]:
df_changed[F_QUAN].sum()

11390.0